* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: rgb(227, 227, 227);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 768px;
    height: 70vh;
    border-radius: 20px;
    border-bottom-right-radius: 120px;
    padding: 1.5rem;
    background-color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 2rem;
}

form {
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 100px));
    gap: 1rem;
    font: inherit;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[type="text"] {
    height: 35px;
    font-weight: bold;
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}

section {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 1 / 1;
}

.ruler {
    border: 1px solid rgb(133, 133, 133);
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}

.arrow-container {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    width: fit-content;
    padding: 0.25rem;
    align-self: center;
    grid-row: 1;
    grid-column: 1;
}